{% extends 'ThoniorMasterBundle::content.html.twig' %}

{% block body -%}
    <h1>{{entity.title}}</h1>
    <div class="container">
    {{ entity.content | raw}}
    </div>
    <div class="viewerModal" ></div>
    <script>
        $('.heroRef').mouseover(function(){
            var html = $(this).html();
            var id=html.substring(html.lastIndexOf("[")+1,html.lastIndexOf("]"));
            $.post("{{path('hero_show_viewer')}}", {id:id})
                    .done(function(data){
                        $('.viewerModal').html(data);
                        $('.viewerModal').show();
                    });
        });
        $('.heroRef').mouseout(function(){
            $('.viewerModal').hide();
        });
        
        $('.itemRef').mouseover(function(){
            var html = $(this).html();
            var id=html.substring(html.lastIndexOf("[")+1,html.lastIndexOf("]"));
            $.post("{{path('item_show_viewer')}}", {id:id})
                    .done(function(data){
                        $('.viewerModal').html(data);
                        $('.viewerModal').show();
                    });
        });
        $('.itemRef').mouseout(function(){
            $('.viewerModal').hide();
        });
    </script>
{% endblock %}
