{% extends 'ThoniorMasterBundle::base.html.twig' %}

{% block body -%}

 
    <div class="col-md-10">
             <img src="http://i.imgur.com/WkoWx4m.png"/>
    </div>
{% endblock %}
            



   

