<!DOCTYPE html>
<html>
    <body>
        {% block body %}{% endblock %}
       
    </body>
</html>
<script>         
$(document).ready(function(){
    $('#thonior_masterbundle_campaign_submit').hide();
});
</script>